# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
plugins/fastool/fastool
plugins/rsem/rsem-bam2readdepth
plugins/rsem/rsem-bam2wig
plugins/rsem/rsem-build-read-index
plugins/rsem/rsem-calculate-credibility-intervals
plugins/rsem/rsem-extract-reference-transcripts
plugins/rsem/rsem-get-unique
plugins/rsem/rsem-parse-alignments
plugins/rsem/rsem-preref
plugins/rsem/rsem-run-em
plugins/rsem/rsem-run-gibbs
plugins/rsem/rsem-sam-validator
plugins/rsem/rsem-scan-for-paired-end-reads
plugins/rsem/rsem-simulate-reads
plugins/rsem/rsem-synthesis-reference-transcripts
plugins/rsem/rsem-tbam2gbam
plugins/rsem/sam/samtools
sample_test/bridger_out_dir/
src/Assemble
src/PathSearch
src/get_reads_from_graph

# Automake stuff
Makefile
config.log
config.status
libtool
src/Makefile
autom4te.cache
src/.deps

# text edit
*.sw* 
*~
